*{
    box-sizing: border-box;
}

a:hover {
    color: #34c6eb;
  }

.top{
    background-color: #1F2937;
    height: 600px;
}

/*flex container for intro section*/
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    color: white;
}

/*navigation bar for header*/
.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px; 
    color: white;
    font-size: 18px;
}

h1{
    color: white;
    font-size: 24px;
    padding: 20px;
    font-weight: extra-bold;
}

h2{
    color: white;
    font-size: 48px;
    padding: 0px 20px;
}

.intro{
    color: white; 
    font-size: 18px;
    padding: 0px 20px;
}

.topbutton {
    margin-left: 20px;
    padding: 10px;
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
    
}

button a{
    color: white;
    text-decoration: none;
}

img{
    position: relative; 
    height: 450px;
    width: 650px;
    float: right;
    padding: 50px;
    margin-top: -240px;
}

h3{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

/*Image Gallery*/
.image-container{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.image img{
    width: 180px;
    height: 180px;
    font-size: 18px;
    color: #1F2937;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-top: 30px;
    padding: 0;
}

.image-subtext{
    display: flex;
    justify-content: space-evenly;
    
}

.image-subtext p{
    text-align: center;
    padding: 0px;
    margin: 20px;
}

/*Quote Section*/
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #E5E7EB;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

/*Blue Class Sign Up Button*/
.class-box{
    height: 300px;
}

.class-signup{
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin: 130px;  
    height:160px;
    width: 80%;
    background-color: #3882F6;
    color: white; 
    font-size: 24px;
    border-radius: 10px;
}

.class-signup button{
    color: white;
    font-size: 18px;
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 8px; 
    padding: 5px 40px; 
}

.footer{
    background-color: #1F2937; 
    color: white;
    height: 100px;
    padding: 30px;
    font-weight: bold; 
    font-size: 18px; 
    text-align: center; 
}


